body {
    background-color: hsl(212, 45%, 89%);
    text-align: center;
    font-family: 'Outfit';
    font-size: 15px;
    max-width: 1440px;
    margin-top: 200px;
    margin-bottom: 200px;
}

.qrcode {
    padding: 15px;
    border-radius: 18px;
    max-width: 300px;
    background-color: white;
    margin: auto;
}

p {
    font-weight: 100;
    opacity: 0.5;
}

img {
    border-radius: 18px;
    max-width: 300px;
}

.text {
    margin-left: 11px;
    margin-right: 11px;
}

a {
    text-decoration: none;
}